import React from 'react'
import { object } from 'prop-types'

const {{pascalCase name}} = ({ data }) => {

  return (
    <div className="{{dashCase name}}-component">
      <h1>{{sentenceCase name}}</h1>
    </div>
  )
}

{{pascalCase name}}.propTypes = {
  data: object
}

{{pascalCase name}}.defaultProps = {
  data: {}
};

export default {{pascalCase name}}
